<VirtualHost hostname>

	SSLEngine off
	ServerName hostname

	ServerAdmin webmaster@localhost
	
	DocumentRoot /path/to/pyrobox/html/pages
	ServerRoot /path/to/pyrobox/html/pages

	FastCgiServer /path/to/pyrobox/config.fcgi
	#FastCgiExternalServer /path/to/pyrobox/config.fcgi -host localhost:4545

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /path/to/pyrobox/html/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	Alias /config/ /path/to/pyrobox/config.fcgi

	Alias /js /path/to/pyrobox/html/js/
	Alias /css /path/to/pyrobox/html/css/
	Alias /theme /path/to/pyrobox/html/theme/


	ErrorLog /var/log/apache2/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access.log combined
	ServerSignature On

</VirtualHost>

